<%- include('./partials/header'); -%>

<h1>Compose</h1>

<form action="/compose" method="POST">
  <div class="form-group">
    <label for="composeTxt">Title</label>
    <input
      type="text"
      name="composeTxt"
      autocomplete="off"
      class="form-control"
    />
  </div>

  <div class="form-group">
    <label for="bodyTxt">Post</label>
    <textarea
      class="form-control"
      rows="3"
      name="bodyTxt"
      autocomplete="off"
    ></textarea>
  </div>

  <input type="submit" value="Publish" class="btn btn-primary" />
</form>

<%- include('./partials/footer'); -%>
