<%- include('./partials/header'); -%>

<h1>Compose</h1>

<form action="" method="POST">
    <input type="text" name="" id="">
    <input type="submit" value="Publish">
</form>

<%- include('./partials/footer'); -%>
